# Ignore colmap image files
images/**

# Ignore colmap output files
**/sparse/**
**/dense/**

# Ignore sqlite database files
**.db

# Ignore segmentation files
semanticOut/**

# Ignore input video files
vids/**